
@font-face {
	font-family: 'edit_here';
	

}

@font-face {
	font-family: 'KakaoBigSans-Bold';
	src: url('../Assets/fonts/KakaoBigSans-Bold.ttf');
}

@font-face {
	font-family: 'KakaoBigSans-ExtraBold';
	src: url('../Assets/fonts/KakaoBigSans-ExtraBold.ttf');
}

@font-face {
	font-family: 'KakaoBigSans-Regular';
	src: url('../Assets/fonts/KakaoBigSans-Regular.ttf');

}

@font-face {
	font-family: 'KakaoSmallSans-Bold';
	src: url('../Assets/fonts/KakaoSmallSans-Bold.ttf');

}

@font-face {
	font-family: 'KakaoSmallSans-Light';
    src: url('../Assets/fonts/KakaoSmallSans-Light.ttf');

}

@font-face {
	font-family: 'KakaoSmallSans-Regular.';
	src: url('../Assets/fonts/KakaoSmallSans-Regular.ttf');

}

