
@font-face {
	font-family: 'edit_here';
	

}

@font-face {
	font-family: 'malgun';
	src: url('../Assets/fonts/malgun.ttf');

}

@font-face {
	font-family: 'malgunbd';
	src: url('../Assets/fonts/malgunbd.ttf');

}

@font-face {
	font-family: 'malgunsl';
	src: url('../Assets/fonts/malgunsl.ttf');

}

